<div style="margin-top: 30px;">
    <ion-label style="font-size: 20px; font-weight: bold;">Part A - Video</ion-label>
    <ion-item>
        <ion-text style="margin: 0 auto; font-size: 30px;">{{question.video_type_content}}</ion-text>
    </ion-item>

    <div id="container">
        <ion-button style="margin-top: 20px;" id="startBtn" (click)="startButtonEvent()">
            Start
        </ion-button>
        <div>
            <h2 id="preview"></h2>
            <video class='video' #faceRecVideo width="350" height="350" autoplay></video>

            <div style="position: relative; margin-top: -360px; margin-left: 500px;">
                <circle-progress #countdown [animation]="true" [backgroundPadding]="7" [radius]="60" [space]="-2"
                    [outerStrokeWidth]="2" [outerStrokeColor]="'#808080'" [innerStrokeColor]="'#e7e8ea'"
                    [innerStrokeWidth]="2" [animateTitle]="true" [showSubtitle]="false" [clockwise]="false">
                </circle-progress>
            </div>
        </div>

        <ion-button style="margin-top: 350px" (click)="uploadVideo()">Test to Upload</ion-button>

    </div>
</div>