<div style="margin-top: 30px;">
    <ion-item>
        <ion-text style="margin: 0 auto; font-size: 30px;">Introduction</ion-text>
    </ion-item>

    <div style="margin: 50px 20px 0 20px;">
        <ion-card>
            <ion-card-header>
              <ion-card-title>About survey</ion-card-title>
              <ion-card-subtitle>Background</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
                Drivers with physical disabilities require the use of special hand controls to operate their vehicle using both hands. 
                One hand controls the gas & brake and the other hand controls steering. When driving, both hands are always in use. 
                Because of this design, it is difficult and sometimes impossible, and not to mention unsafe, to try and control secondary vehicle functions. 
                Secondary functions are things such as wipers, turn signals, windows, etc.<br />
                Our technology uses facial gesture recognition, which allows drivers to use user customizable facial gestures to activate secondary vehicle 
                functions (e.g. blinking with your left eye to turn on a left indicator light, smiling to turn on the windshield wipers, etc.). 
                In the development of our software, we seek public facial data as well as additional user opinions regarding the features of 
                our facial gesture recognition product (e.g. which certain facial gestures are easier to activate, which facial feature - 
                vehicle maneuver pairings work best on the road). Additional user facial data captured via a webcam survey is greatly needed to 
                ensure our facial gesture recognition software achieves the highest accuracy and efficiency before Version 1 release.
            </ion-card-content>
          </ion-card>
    </div>
</div>