<div style="margin-top: 30px;">
    <ion-item>
        <ion-text style="margin: 0 auto; font-size: 30px;">Introduction</ion-text>
    </ion-item>

    <div style="margin: 50px 20px 0 20px;">
        <ion-card>
            <ion-card-header>
              <ion-card-title>About survey</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                This is a webcam survey, you will be asked a series of questions regarding the ease of performing certain facial gestures, 
                and whether these gestures are best suited for certain driving conditions (e.g. is a left eye wink the easiest and most intuitive 
                facial gesture to use to activate a left turn signal, or are two blinks with both eyes in quick succession easier for most users to perform). 
                <br />Responses to survey questions will be stored in our cloud database, timely linked to facial gestures demonstrated by users.
            </ion-card-content>
          </ion-card>
    </div>
</div>