<ion-header>
  <ion-toolbar>
    <ion-title>
      Webcam Survey
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]='true'>
  <div class="page-container">
    <!-- Part A Survey -->
    <introduction *ngIf="currentPageIndex == 0"></introduction>
    <user-agreement *ngIf="currentPageIndex == 1" (canNextEmitter)="toggleNextBtn($event)"></user-agreement>
    <video-question *ngIf="currentPageIndex > 1" [question]="this.surveyQuestions[this.currentPageIndex - 2]"></video-question>
  </div>
</ion-content>

<ion-footer>
  <div class="nav-button-container">
    <ion-button #backBtn style="float: left;" (click)="back()">Back</ion-button>
    <ion-button #nextBtn style="float: right;" (click)="next()">Next</ion-button>
  </div>
</ion-footer>